body {
  background: lightgrey;
}
li {
  padding: 5px;
  margin: 5px;
  background: whitesmoke;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.center-text {
  text-align: center;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.inner_div {
  display: inline-block;
  width: 25%;
  vertical-align: text-top;
}
h2 {
  text-align: center;
}
.add-burger {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}
